<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Social Site {% endblock %} </title>

    <!--    bootstrap css   -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
   <script src="{% static 'core/js/bootstrap.min.js' %}"></script>
   <script src="{% static 'core/js/jquery.js' %}"></script>


    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'core/css/master.css'%}">

</head>
<body>
<nav class="navbar  mynav" role="navigation" id="navbar">
    <div class="container">

        <a class="navbar-brand mynav" href="{% url 'home' %}">Space Social</a>

        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li><a href="{% url 'post:create' %}" class="btn btn-simple">Post</a></li>
            <li><a href="{% url 'group:all' %}" class="btn btn-simple">Groups</a></li>
            <li><a href="{% url 'group:create' %}" class="btn btn-simple">Create Group</a></li>
            <li><a href="{% url 'account:logout' %}" class="btn btn-simple">Log out</a></li>
            {% else %}
            <li><a href="{% url 'group:all' %}" class="btn btn-simple">Groups</a></li>
            <li><a href="{% url 'account:login' %}" class="btn btn-simple">Log in</a></li>
            <li><a href="{% url 'account:signup' %}" class="btn btn-simple">Sign up</a></li>
            {% endif %}
        </ul>


    </div>
</nav>
<div class="container mycontent">
    {% block content %}
    {% endblock %}
</div>
<script src="{% static 'core/js/master.js'%}" type="text/javascript" ></script>


</body>
</html>